# Info

Basic script for turning the text on Salomon's site into a usefull dataframe.

In [1]:
import os
import pandas as pd

# Parse Text Data
Data source [http://web.cba.neu.edu/~msolomon/c101.htm]

In [2]:
PATH = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))
def parse_text_to_dataframe(file_path: str) -> pd.DataFrame:
    with open(file_path, 'r') as f:
        lines = f.readlines()

    header = lines[0].strip().split('  ')
    header.remove('')
    header = [col.strip() for col in header]

    body = lines[1:]
    cleaned_body = [row.split() for row in body]
    dataframe = pd.DataFrame(columns=header, data=cleaned_body)
    return dataframe

dataframe = parse_text_to_dataframe(os.path.join(PATH, 'raw','tests_c101.txt'))

In [3]:
dataframe.head()

  CUST NO. XCOORD. YCOORD. DEMAND READY TIME DUE DATE SERVICE TIME
0        1   40.00   50.00   0.00       0.00  1236.00         0.00
1        2   45.00   68.00  10.00     912.00   967.00        90.00
2        3   45.00   70.00  30.00     825.00   870.00        90.00
3        4   42.00   66.00  10.00      65.00   146.00        90.00
4        5   42.00   68.00  10.00     727.00   782.00        90.00

In [4]:
dataframe.rename(columns={'CUST NO.': 'CustomerNO',
                          'XCOORD.': 'Lng',
                          'YCOORD.': 'Lat',
                          'DEMAND': 'Demand',
                          'READY TIME': 'ReadyTime',
                          'DUE DATE': 'Due',
                          'SERVICE TIME': 'ServiceTime'}, inplace=True)

In [5]:
dataframe.head()

  CustomerNO    Lng    Lat Demand ReadyTime      Due ServiceTime
0          1  40.00  50.00   0.00      0.00  1236.00        0.00
1          2  45.00  68.00  10.00    912.00   967.00       90.00
2          3  45.00  70.00  30.00    825.00   870.00       90.00
3          4  42.00  66.00  10.00     65.00   146.00       90.00
4          5  42.00  68.00  10.00    727.00   782.00       90.00

# Store data.

In [6]:
dataframe.to_csv(os.path.join(PATH, 'processed', "c101.csv"), index=True)